footer.Footer 
    .container 
        .Footer__top 
            p.top-head Make your dreams a <span>reality</span>
            a(href='#').btn Work With Us <span>&rarr;</span>
        hr.hr
        .Footer__bottom 
            .bottom-left
                img(src="../../images/logo.svg", alt="Logo")
                .social 
                    img(src="../../images/facebook.svg", alt="Social")
                    img(src="../../images/twitter.svg", alt="Social")
                    img(src="../../images/instagram.svg", alt="Social")
            .bottom-right
                .right-one 
                    p.right-title Column Heading
                    ul.right-list 
                        li.right-list-item 
                            a(href='#') Link goes here
                        li.right-list-item 
                            a(href='#') Link goes here
                        li.right-list-item 
                            a(href='#') Link goes here
                        li.right-list-item 
                            a(href='#') Link goes here
                .right-one 
                    p.right-title Column Heading
                    ul.right-list 
                        li.right-list-item 
                            a(href='#') Link goes here
                        li.right-list-item 
                            a(href='#') Link goes here
                        li.right-list-item 
                            a(href='#') Link goes here
                        li.right-list-item 
                            a(href='#') Link goes here
                .right-one 
                    p.right-title Column Heading
                    ul.right-list 
                        li.right-list-item 
                            a(href='#') Link goes here
                        li.right-list-item 
                            a(href='#') Link goes here
                        li.right-list-item 
                            a(href='#') Link goes here
                        li.right-list-item 
                            a(href='#') Link goes here
                
                


