header.Header 
    .container 
        .Header__nav 
            .Header__nav-logo 
                a(href='#').logo
                    img(src="../../images/logo.svg", alt="Logo")
            .Header__nav-link 
                ul.link__list
                    li.link__list-item
                        a(href='#') Nav Link
                    li.link__list-item
                        a(href='#') Nav Link
                    li.link__list-item
                        a(href='#') Nav Link
                    li.link__list-item
                        a(href='#') Nav Link
                a(href='#').btn Work With Us <span>&rarr;</span>
            button.Header__button(type='button')
                svg.icon.icon-cart
                    use(xlink:href='#icon-menu')