header.Header 
    .container 
        .Header__nav 
                .Header__logo 
                     a(href="#").logo
                        img(src="../../images/logo.svg", alt="Logo")
                ul.nav__link 
                            li.nav__link-item 
                                a(href="#") Nav Link
                            li.nav__link-item 
                                a(href="#") Nav Link 
                            li.nav__link-item 
                                a(href="#") Nav Link 
                            li.nav__link-item 
                                a(href="#") Nav Link 
                a(href='#').btn Work with us 
                    span &rarr;