@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
$max-width:1140px;
$gutter:20px;
$border-radius:0px 5px 5px 0px;
$finger-size:44px;
//

//
$font-family:'DM Sans', sans-serif;
$font-size-small:12px;
$font-size-medium:18px;
$font-size-normal:16px;