section.Comment     
    .container 
        .Comment__content 
            .cizgi 
            p.content__text “Certe, inquam, pertinax non existimant oportere exquisitis rationibus conquisitis de quo enim ipsam. Torquem detraxit hosti et quidem faciunt, ut aut.”
        ul.Comment__list 
            li.Comment__list-item 
                img(src="../../images/human.png", alt="Human")
                .item-text 
                    p.item-head Lara Madrigal
                    p.item-text Client
            li.Comment__list-item.black
                img(src="../../images/human.png", alt="Human")
                .item-text 
                    p.item-head Lara Madrigal
                    p.item-text Client
            li.Comment__list-item 
                img(src="../../images/human.png", alt="Human")
                .item-text 
                    p.item-head Lara Madrigal
                    p.item-text Client