section.Hands 
       .container 
            .Showcase__left 
                 figure 
                    img(src="../../images/one.png", alt="Photo") 
            .Showcase__right 
                .right__content 
                    .cizgi 
                    p.right__title You’re in good hands
                    p.right__text Torquatos nostros? quos dolores eos, qui dolorem ipsum per se texit, ne ferae quidem se repellere, idque instituit docere sic: omne animal, simul atque integre iudicante itaque aiunt hanc quasi involuta aperiri, altera occulta quaedam et voluptatem accusantium doloremque.
                    a(href='#').btn Learn more <span>&rarr;</span>                 