section.Place 
    .container 
        .cizgi 
            
        p.Place__text Find your next place to live
        .Place__content 
            ul.content-list 
                li.content-list-item 
                  .item__content 
                    select(name="location")
                        option Looking For
                        option Looking 
                    img(src="../../images/arrow-down-1.svg", alt="Arrow Down")
                li.content-list-item 
                  .item__content 
                    select(name="location")
                        option İzmir 
                        option İstanbul 
                    img(src="../../images/arrow-down-1.svg", alt="Arrow Down")
                li.content-list-item 
                  .item__content 
                    select(name="location")
                        option Property Type
                        option Property Type
                    img(src="../../images/arrow-down-1.svg", alt="Arrow Down")
                li.content-list-item 
                  .item__content 
                    select(name="location")
                        option TL
                        option EU
                    img(src="../../images/arrow-down-1.svg", alt="Arrow Down")