section.Room 
    .container 
        .Room__card 
            .card__img 
                figure 
                    img(src="../../images/m1.png", alt="Card resim")
            .card__title Malto House
            .card__bottom 
                ul.bottom__list 
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
        .Room__card 
            .card__img 
                figure 
                    img(src="../../images/m1.png", alt="Card resim")
            .card__title Malto House
            .card__bottom 
                ul.bottom__list 
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
        .Room__card 
            .card__img 
                figure 
                    img(src="../../images/m1.png", alt="Card resim")
            .card__title Malto House
            .card__bottom 
                ul.bottom__list 
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
        .Room__card 
            .card__img 
                figure 
                    img(src="../../images/m1.png", alt="Card resim")
            .card__title Malto House
            .card__bottom 
                ul.bottom__list 
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
        .Room__card 
            .card__img 
                figure 
                    img(src="../../images/m1.png", alt="Card resim")
            .card__title Malto House
            .card__bottom 
                ul.bottom__list 
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
        .Room__card 
            .card__img 
                figure 
                    img(src="../../images/m1.png", alt="Card resim")
            .card__title Malto House
            .card__bottom 
                ul.bottom__list 
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
                    li.bottom__list-item 
                        img(src="../../images/Shower.svg", alt="", srcset="")
                        span 4
        