.Showcase{
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: #fff;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include mq('desktop'){
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__left{
        margin-bottom: 10px;
        @include mq('desktop'){
            margin-bottom: 0;
            min-width: 50%;
            margin-left: -185px;
        }     
    }
    &__right{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .right__content{
           margin-top: 10px;
           .right__title{
               margin-top: 10px;
               margin-bottom: 20px;
               letter-spacing: -1.25641px;
               font-weight: bold;
               font-size: 50px;
               line-height: 65px;
               color: #000;
           }
           .right__text{
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.502564px;
            color: #000000;
            mix-blend-mode: normal;
            opacity: 0.6;
            margin-bottom: 30px;
           }
           a{
               color: #fff;
               background-color: #000;
                span{
                    color: #FFAC12;
                }
           }
        }
    }
}
.Place{
    background-color: #F5F5F5;
    padding-top: 150px;
    padding-bottom: 50px;
    .container{
      display: flex;
      flex-direction: column;
    }
    &__text{
        font-weight: bold;
        font-size: 50px;
        line-height: 65px;
        letter-spacing: -1.25641px;
        color: #000;
        font-size: 50px;
        margin-top: 17px;
        margin-bottom: 60px;
    }
    &__content{
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
        @include mq('desktop'){
            border: none;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .content-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @include mq('desktop'){
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;
            }
           &-item{
               width: 100%;
               border: 1px solid #000;
               display: flex;
               align-items: center;
               justify-content: center;
               &:not(:last-child){
                   margin-bottom: 10px;
                   @include mq('desktop'){
                       margin-bottom: 0;  
                   }
               }
               @include mq('desktop'){
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24%;
                border: none;
                height: 100%;
                &:not(:last-child){
                    border-right: 1px solid #E4E4E4;
                }
               }
               .item__content{
                   display: flex;
                   align-items: center;
                   justify-content: center;
               }
               select{
                   border: none;
                   appearance: none;
                   margin-right: 9px;
                   font-size: 17px;
                   line-height: 22px;
                   letter-spacing: -0.427179px;
                   color: #000000;
               }
               option{
                   font-size: 17px;
                   line-height: 22px;
                   letter-spacing: -0.427179px;
                   color: #000000;
               }
           }
        }
    }
}
.Room{
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 100px;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include mq('desktop'){
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__card{
        width: 336px;
        background: #FFFFFF;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
        &:not(:first-child){
            margin-top: 10px;
            @include mq('desktop'){
                margin-top: 0;
            }
        }
        @include mq('desktop'){
            margin-bottom: 20px;
        }
        .card__img{
            img{
                max-width: 100%;
            }
        }
        .card__title{
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;
            letter-spacing: -0.603077px;
            color: #000000;
            font-size: 24px;
            padding-left: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #F5F5F5;
        }
        .card__bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .bottom__list{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .bottom__list-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 33%;
                    padding: 24px;
                    &:not(:last-child){
                        border-right: 1px solid #F5F5F5;
                    }
                    span{
                        margin-left: 10px;
                    }
                }
            }
        }

    }
    
}